<nav class="navbar-control">
  <ul class="flex">
    <li (click)="toggleMenuControl()">Menu</li>
  </ul>
  <ng-container *ngTemplateOutlet="userFullname"></ng-container>
</nav>
<nav class="navbar {{ this.hideMenuControl ? 'navbar-hideable' : '' }}">
  <ul>
    <li *ngIf="!this.hideMenuControl && !(this.user$ | async)?.valid" (click)="onNavigate('/login')">Login</li>
    <li (click)="onNavigate('')">Inicio</li>
    <li (click)="onNavigate('content')">Contenido</li>
    <li (click)="onNavigate('requirements')">Requerimientos</li>
    <li (click)="onNavigate('languages')">Lenguajes</li>
    <li (click)="onNavigate('frameworks')">Frameworks</li>
    <li (click)="onNavigate('proyects')">Proyectos</li>
    <li (click)="onNavigate('instructor')">El instructor</li>
    <li (click)="onNavigate('reviews')">Reseñas</li>
    <li (click)="onNavigate('blog')">Blog</li>
    <li (click)="onNavigate('contact')">Contacto</li>
  </ul>
  <ng-container *ngTemplateOutlet="userFullname"></ng-container>
</nav>
<div (window:resize)="onResize()"></div>
<ng-template #userFullname>
  <div class="navbar-welcome">
    <span *ngIf="!(this.user$ | async)?.valid">Bienvenido Invitado</span>
    <span *ngIf="(this.user$ | async)?.valid">{{ (this.user$ | async)?.fullname }}</span>
  </div>
</ng-template>
