<div class="entry-wrapper">
  <h1 class="entry-title">Noticias del front-end</h1>
  <hr />
  <p *ngFor="let entry of this.fakeEntries">
    <span class="entry-subtitle">Título de la entrada </span>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a nemo molestiae eaque. Minus voluptatem vero fugit. Mollitia, hic voluptates? Sequi praesentium repellendus sapiente eveniet. Ipsa, explicabo. Corrupti, nostrum. Facere.</span>
    <br />
    <span class="entry-author">[13-13-2013, Paco]</span>
  </p>
</div>
<div class="entry-wrapper">
  <h1 class="entry-title entry-title-darkred">Noticias de back-end</h1>
  <hr />
  <p *ngFor="let entry of this.fakeEntries">
    <span class="entry-subtitle">Título de la entrada </span>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a nemo molestiae eaque. Minus voluptatem vero fugit. Mollitia, hic voluptates? Sequi praesentium repellendus sapiente eveniet. Ipsa, explicabo. Corrupti, nostrum. Facere.</span>
    <br />
    <span class="entry-author">[13-13-2013, Paco]</span>
  </p>
</div>
<div class="entry-wrapper">
  <h1 class="entry-title entry-title-goldenrod">Noticias de instructor</h1>
  <hr />
  <p *ngFor="let entry of this.fakeEntries">
    <span class="entry-subtitle">Título de la entrada </span>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a nemo molestiae eaque. Minus voluptatem vero fugit. Mollitia, hic voluptates? Sequi praesentium repellendus sapiente eveniet. Ipsa, explicabo. Corrupti, nostrum. Facere.</span>
    <br />
    <span class="entry-author">[13-13-2013, Paco]</span>
  </p>
</div>
<div class="entry-footer">
  <a href="https://www.google.com">[Ver histórico de noticias]</a>
</div>
