<div class="column">
  <tp-header></tp-header>
  <tp-navbar></tp-navbar>
  <div class="wrapper">
    <div class="flex-2 section-one"></div>
    <div class="flex-2 section-two">
      <tp-login></tp-login>
      <tp-external-link></tp-external-link>
      <tp-phrase-of-the-day></tp-phrase-of-the-day>
    </div>
    <div class="flex section-three"></div>
    <div class="flex-30 section-four">
      <div class="wrapper-site">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="flex-2 section-five"></div>
  </div>
  <tp-footer></tp-footer>
</div>
