<mat-progress-bar mode="indeterminate" *ngIf="facade.loading$() | async"></mat-progress-bar>
<div class="login-wrapper column">
  <div *ngIf="!(this.user$ | async)?.valid">
    <div class="login-title">
      <strong>Entrar a la web</strong>
    </div>
  </div>
  <div class="login-welcome" *ngIf="(this.user$ | async)?.valid">
    <p><strong>Bienvenido, {{(this.user$ | async)?.fullname}}</strong></p>
  </div>
  <div *ngIf="!(this.user$ | async)?.valid">
    <form [formGroup]="formGroup" class="login-form" (submit)="onSubmit()">
      <div class="column form-group">
        <label for="username" [class]="this.formGroup.controls.name.touched && this.formGroup.controls.name.invalid ? 'has-error' : ''">Usuario:</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="column form-group">
        <label for="pass" [class]="this.formGroup.controls.pass.touched && this.formGroup.controls.pass.invalid ? 'has-error' : ''">Contrase&ntilde;a:</label>
        <input type="password" formControlName="pass" />
      </div>
      <div class="row center form-group">
        <button mat-button class="button form-submit bg-color-primary color-inverted">Entrar</button>
      </div>
    </form>
  </div>
  <div>
    <div class="login-links">
      <ul>
        <li *ngIf="(user$ | async)?.valid"><a href="#" [routerLink]="['/user']">Administrar usuarios</a></li>
        <li><a href="https://www.google.com">Zona de Alumnos</a></li>
        <li><a href="https://www.google.com">Zona del Profesor</a></li>
        <li><a href="https://www.google.com">Acceso a calificaciones</a></li>
      </ul>
    </div>
  </div>
</div>
