<div class="external-wrapper column">
  <div>
    <div class="external-title">
      <strong>Enlaces de interés</strong>
    </div>
  </div>
  <div>
    <div class="external-links">
      <ul>
        <li><a href="www.google.com">Master en JavaScript</a></li>
        <li><a href="www.google.com">Master en PHP</a></li>
        <li><a href="www.google.com">Master en Frameworks JS</a></li>
        <li><a href="www.google.com">Master en webs full-stack</a></li>
        <li><a href="www.google.com">victorroblesweb.es</a></li>
      </ul>
    </div>
  </div>
</div>
